.App {
  background-color: #282c34;
  width: 100%;
  background: #bdc3c7;
  background: -webkit-linear-gradient(to bottom, #bdc3c7, #2c3e50);
  background: linear-gradient(to bottom, #bdc3c7, #2c3e50);
  background: #43cea2;
  background: -webkit-linear-gradient(to bottom, #185a9d, #43cea2);
  background: linear-gradient(to bottom, #185a9d, #43cea2);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  min-height: 100vh;

  .app-header {
    height: 50px;
    border-bottom: solid 1px #e2e2e2;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .title {
      margin: 15px 0;
    }
  }
  
  .app-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;

    input {
      width: 40%;
      margin: 20px 0;
      padding: 10px 20px;
      border: none;
      border-radius: 2px;
  
      &:focus {
        outline: none;
        -webkit-box-shadow: 0px 1px 9px 0px rgba(0,0,0,0.5);
        -moz-box-shadow: 0px 1px 9px 0px rgba(0,0,0,0.5);
        box-shadow: 0px 1px 9px 0px rgba(0,0,0,0.5);
      }
    }
  }
}
